<app-menu></app-menu>
<app-notification></app-notification>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMessage !== ''">
      <div class="col-md-3 alert alert-danger">{{errorMessage}}</div>
    </div>
    <div *ngIf="isDataLoaded">
      <h2 class="card-title display-4">
        <div class="row">
          <div class="ml-3">{{emContact.nameContact}}</div>
          <div class="col-3"></div>
          <button class="btn btn-primary" (click)="onDelete(emContact)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg>
          </button>
        </div>
      </h2>
      <hr>
      <form (ngSubmit)="onUpdate(); onEditClick()" #emContactForm="ngForm">
        <div class="form-group row">
          <label class="control-label col-md-2">Tel. nr.</label>
          <input type="text" [(ngModel)]="emContact.telNum"
                 class="form-control col-md-3 mr-2"
                 id="telNum"
                 name="telNum"
                 required #telNum="ngModel"
                 [disabled]=onEdit>
          <div [hidden]="telNum.valid || onEdit" class="col-md-3 alert alert-danger">Tel nr. is required</div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2">Priority</label>
          <select [(ngModel)]="emContact.priority"
                  name="priority"
                  class="form-control col-1"
                  [disabled]=onEdit>
            <option *ngFor="let number of numbers" [ngValue]="number">
              {{number}}
            </option>
          </select>
        </div>
        <button type="submit" [disabled]="!emContactForm.form.valid" [hidden]="onEdit"
                class="btn btn-primary" style="background:green;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg"
               viewBox="0 0 16 16">
            <path
              d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
          </svg>
        </button>
      </form>
      <button class="btn btn-danger" [hidden]="!onEdit" (click)="onEditClick()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
             viewBox="0 0 16 16">
          <path
            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
        </svg>
      </button>
    </div>
  </div>
</div>
