<app-menu></app-menu>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMsg !== ''">
      <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
    </div>
    <h3 class="card-title mb-4 display-4">Login</h3>
    <form (ngSubmit)="onLogin()" #userForm="ngForm">
      <div class="form-group row">
        <label class="control-label col-md-2">Username</label>
        <input type="text" [(ngModel)]="user.username"
               class="form-control col-md-3 mr-2"
               id="username"
               name="username"
               placeholder="Enter your name"
               required #username="ngModel">
        <div [hidden]="!username.pristine" class="col-md-3 alert alert-danger">Username is required</div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-2">Password</label>
        <input type="password" [(ngModel)]="user.passw"
               class="form-control col-md-3 mr-2"
               id="password"
               name="password"
               placeholder="Enter your password"
               required #password="ngModel">
        <div [hidden]="!password.pristine" class="col-md-3 alert alert-danger">Password is required</div>
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-primary mb-2">Submit
      </button>
    </form>
    <a routerLink="/forgottenPassword">Forgot your password? Get it back!</a>
  </div>
</div>
