<app-menu></app-menu>
<app-notification></app-notification>
<h2 class="mb-3 display-4">List of users</h2>
<div class="card-columns">
  <div *ngFor="let user of users">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <hr>
        <p class="card-text">Birthdate: {{user.birthDate | date: 'shortDate'}}</p>
        <p class="card-text">Tel. nr.: {{user.telNum}}</p>
        <ng-template [ngIf]="user.height">
          <p class="card-text">Height: {{ user.height }}cm</p>
        </ng-template>
        <ng-template [ngIf]="user.weight">
          <p class="card-text">Weight: {{ user.weight }}kg</p>
        </ng-template>
        <a [routerLink]="['/users', user.userID]" class="btn btn-primary">Profile</a>
        <button class="btn btn-primary" (click)="onDelete(user)">Delete user</button>
      </div>
    </div>
  </div>
</div>
