<hr>
<h5 class="card-subtitle mt-4 mb-3">
  My location
</h5>
<div *ngIf="errorMsg !== ''">
  <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
</div>
<div #gmap style="width:100%;height:400px"></div>
