<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" href="#">
    <!--<img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">!-->
    PanicApp
  </a>
  <div *ngIf="credentials== null; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div class="navbar-header">
      <a routerLink="/login" class="btn btn-primary">Login</a>
    </div>
    <div class="navbar-header">
      <a routerLink="/addUser" class="btn btn-primary">Registration</a>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class="navbar-header">
      <a routerLink="/" class="btn btn-primary">Home</a>
    </div>
    <div class="navbar-header">
      <a routerLink="/emergencyRequests" class="btn btn-primary" style="color: white">Emergencies</a>
    </div>
    <div class="navbar-header">
      <a routerLink="/emergencyContacts" class="btn btn-primary" style="color: white">Contacts</a>
    </div>
    <div class="navbar-header">
      <a routerLink="/chat" class="btn btn-primary" style="color: white">Chat</a>
    </div>
    <div class="navbar-header">
      <a (click)="profile(credentials.id)" class="btn btn-primary" style="color: white">Profile</a>
    </div>
    <div *ngIf="credentials.role.indexOf('ROLE_ADMIN') > -1 ">
      <div class="navbar-header">
        <a routerLink="/users" class="btn btn-primary">Users</a>
      </div>
    </div>
    <div class="navbar-header">
      <a style="color:white" (click)="logout()" class="btn btn-primary">Logout({{credentials.username}})</a>
    </div>
  </ng-template>
</nav>
