<app-menu></app-menu>
<app-notification></app-notification>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMsg !== ''">
      <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
    </div>
    <h3 class="card-title display-4 mb-4">Add new request</h3>
    <form (ngSubmit)="onAdd()" #requestForm="ngForm">
      <div class="form-group row">
        <label class="control-label col-md-2">Emergency type</label>
        <select [(ngModel)]="emRequest.emType"
                name="emType"
                class="form-control col-2 mr-2">
          <option *ngFor="let emType of emTypes" [ngValue]="emType">
            {{emType}}
          </option>
        </select>
        <img src="{{images.get(emRequest.emType)}}" width="200vh">
      </div>
      <div class="form-group row">
        <label class="control-label col-md-2">Time intervalssssssssssssssssss</label>
        <input type="number" [(ngModel)]="emRequest.timeInt"
               class="form-control col-md-1 mr-2"
               id="timeInt"
               name="timeInt"
               placeholder="In min"
               required #nameRequest="ngModel"
               [min]="1">
        <div class="col-md-1"></div>
        <div [hidden]="!nameRequest.pristine" class="col-md-3 alert alert-danger">Interval required: you will receive
          alerts in this interval
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-2">End date</label>
        <input type="number" [(ngModel)]="hourInt"
               class="form-control col-md-1 mr-2"
               id="hourInt"
               name="hourInt"
               placeholder="Hour"
               required
               [min]="0" [max]="23">
        <input type="number" [(ngModel)]="minInt"
               class="form-control col-md-1 mr-2"
               id="minInt"
               name="minInt"
               placeholder="Minute"
               required
               [min]="0" [max]="59">
        <input type="date" [(ngModel)]="dateInt"
               class="form-control col-md-2 mr-2"
               id="dateInt"
               name="dateInt"
               required>
      </div>
      <button type="submit" [disabled]="!requestForm.form.valid"
              class="btn btn-primary">Submit
      </button>
    </form>
  </div>
</div>
