<app-menu></app-menu>
<app-notification></app-notification>
<div class="card">
  <div class="card-body">
    <h3 class="card-title display-4">Hello, {{credentials.username}}!</h3>
    <h6 class="card-subtitle mt-2 mb-2 text-muted">What would you like to do today?</h6>
    <hr>
    <h6 class="card-subtitle mt-2 mb-3 text-muted">If you feel unsafe:</h6>
    <p>
      <a class="btn btn-primary btn-lg mb-3" routerLink="/addEmergencyRequest" style="color: white">
        New emergency »
      </a>
    </p>
    <div class="container">
      <div class="row">
        <div class="card col-3 mr-2">
          <div class="card-body">
            <h5>Ongoing emergencies</h5>
            <hr>
            <p>See and manage your ongoing emergencies. You can modify the time interval, lengthen the emergency or even
              delete it.</p>
            <a class="btn btn-danger" style="color:white" routerLink="/emergencyRequests">Manage emergencies »</a>
          </div>
        </div>
        <div class="card col-3">
          <div class="card-body">
            <h5>Profile</h5>
            <hr>
            <p>Update your profile frequently. Your important datas will be sent to your contacts in case of trouble</p>
            <a class="btn btn-danger" style="color:white" routerLink="/users/{{credentials.id}}">Update profile »</a>
          </div>
        </div>
        <div class="card col-3 mr-2">
          <div class="card-body">
            <h5>Friends</h5>
            <hr>
            <p>You can chat in this app with your friends. To manage your friends, click here.</p>
            <a class="btn btn-danger" style="color:white" routerLink="/friends">Manage friends »</a>
          </div>
        </div>
        <div class="card col-3 mr-2">
          <div class="card-body">
            <h5>Contacts</h5>
            <hr>
            <p>Contacts receive a message when you are in trouble. First we message the ones with the highest
              priority.</p>
            <a class="btn btn-danger" style="color:white" routerLink="/addEmergencyContact">Add contact »</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
