<app-menu></app-menu>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMsg !== ''">
      <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
    </div>
    <div class="card-title display-4">
      Code sender
    </div>
    <hr>
    <form (ngSubmit)="onSubmit()" #telNumForm="ngForm">
      <div class="form-group row">
        <label class="control-label col-md-2">Phone number</label>
        <input type="text" [(ngModel)]="user.telNum"
               class="form-control col-md-3 mr-2"
               id="username"
               name="username"
               placeholder="Enter your phone number"
               required #telNum="ngModel">
        <div [hidden]="!telNum.pristine" class="col-md-3 alert alert-danger">You will receive an SMS to this number</div>
      </div>
      <button type="submit" [disabled]="!telNumForm.form.valid"
              class="btn btn-primary mb-2">Submit
      </button>
    </form>
  </div>
</div>
