<app-menu></app-menu>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMsg !== '' && errorMsg !== 'Success'">
      <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
    </div>
    <div class="card-title display-4">
      Code sender
    </div>
    <hr>
    <div *ngIf="errorMsg !== 'Success'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
    <form (ngSubmit)="onSubmit()" #modifyPasswordForm="ngForm">
      <div class="form-group row">
        <label class="control-label col-md-2">New password</label>
        <input type="password" [(ngModel)]="passwChange.password"
               class="form-control col-md-3 mr-2"
               id="password"
               name="password"
               placeholder="New password"
               required #password="ngModel">
        <div [hidden]="!password.pristine" class="col-md-3 alert alert-danger">Password required</div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-2">Confirm your password</label>
        <input type="password" [(ngModel)]="confirmPassw"
               class="form-control col-md-3 mr-2"
               id="confirmedPassw"
               name="confirmedPassw"
               placeholder="Confirm password"
               required #confirmedPassw="ngModel">
        <div [hidden]="!confirmedPassw.pristine" class="col-md-3 alert alert-danger">The same password required</div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-2">Code from SMS</label>
        <input type="text" [(ngModel)]="passwChange.token"
               class="form-control col-md-3 mr-2"
               id="token"
               name="token"
               placeholder="Code"
               required #token="ngModel">
        <div [hidden]="!token.pristine" class="col-md-3 alert alert-danger">Write the code received in sms</div>
      </div>
      <button type="submit" [disabled]="!modifyPasswordForm.form.valid"
              class="btn btn-primary mb-2">Submit
      </button>
    </form>
    </ng-template>
    <ng-template #elseBlock>
      <div class=" col-md-3 alert alert-danger">Password successfully changed!
        Go back to   <a routerLink="/login" class="btn btn-primary">Login</a>
      </div>
    </ng-template>
  </div>
</div>

