<app-menu></app-menu>
<app-notification></app-notification>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMsg !== ''">
      <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
    </div>
    <div class="row">
      <h2 class="card-title col-4 display-4">Contacts</h2>
      <button class="btn btn-danger" routerLink="/addEmergencyContact">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-person-plus-fill"
             viewBox="0 0 16 16">
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd"
                d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
      </button>
    </div>
    <hr>
    <div class="row">
      <label class="control-label col-md-1">Contact:</label>
      <input type="search" class="form-control col-2 mb-3 mr-3" [(ngModel)]=contactName>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mt-2"
           viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </div>
    <div class="card">
      <ul class="list-group list-group-flush">
        <div *ngFor="let emContact of emContacts | emergencyContactFilter: contactName">
          <div (click)="clickDetails(emContact.emContactID)">
            <li class="list-group-item col-6">
              <h5>
                <div class="row">
                  <div class="col-8">
                    {{emContact.nameContact}}
                  </div>
                  <button class="btn btn-dark mr-2" (click)="emContactProfile(emContact.emContactID)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-info-lg" viewBox="0 0 16 16">
                      <path
                        d="m10.277 5.433-4.031.505-.145.67.794.145c.516.123.619.309.505.824L6.101 13.68c-.34 1.578.186 2.32 1.423 2.32.959 0 2.072-.443 2.577-1.052l.155-.732c-.35.31-.866.434-1.206.434-.485 0-.66-.34-.536-.939l1.763-8.278zm.122-3.673a1.76 1.76 0 1 1-3.52 0 1.76 1.76 0 0 1 3.52 0z"/>
                    </svg>
                  </button>
                  <button class="btn btn-primary" (click)="onDelete(emContact)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                  </button>
                </div>
              </h5>
              <div hidden=true id="details{{emContact.emContactID}}">
                <hr>
                <h6>Tel. nr.: {{emContact.telNum}}</h6>
                <h6>Priority: {{emContact.priority}}</h6>
              </div>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
