<app-menu></app-menu>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMsg !== ''">
      <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
    </div>
    <h3 class="card-title mb-4 display-4">Registration</h3>
    <form (ngSubmit)="onRegistration()" #userForm="ngForm">
      <div class="form-group row">
        <label class="control-label col-md-2">Username</label>
        <input type="text" [(ngModel)]="user.username"
               class="form-control col-md-3 mr-2"
               id="username"
               name="username"
               placeholder="Enter your name"
               required #username="ngModel">
        <div [hidden]="!username.pristine" class="col-md-3 alert alert-danger">Username is required</div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-2">Password</label>
        <input type="password" [(ngModel)]="user.passw"
               class="form-control col-md-3 mr-2"
               id="password"
               name="password"
               placeholder="Enter your password"
               required #password="ngModel">
        <div [hidden]="!password.pristine" class="col-md-3 alert alert-danger">Password is required</div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-2">Tel. nr.</label>
        <input type="text" [(ngModel)]="user.telNum"
               class="form-control col-md-3 mr-2"
               id="telNum"
               name="telNum"
               placeholder="Enter your tel nr."
               required #telNum="ngModel">
        <div [hidden]="!telNum.pristine" class="col-md-3 alert alert-danger">Tel nr. is required</div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-2">Birthdate</label>
        <input type="date" [(ngModel)]="user.birthDate"
               class="form-control col-md-3 mr-2"
               id="birthdate"
               name="birthdate"
               placeholder="Enter your birthdate!"
               required #birthdate="ngModel">
        <div [hidden]="!birthdate.pristine" class="col-md-3 alert alert-danger">Birthdate is required</div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="control-label col-md-4">Height</label>
            <input type="number" [(ngModel)]="user.height"
                   class="form-control col-md-4 mr-2"
                   id="height"
                   name="height"
                   placeholder="In cm">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="control-label col-md-4">Weight</label>
            <input type="number" [(ngModel)]="user.weight"
                   class="form-control col-md-4 mr-2"
                   id="weight"
                   name="weight"
                   placeholder="In kg">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-1">File</label>
        <input type="file" class="form-control col-md-4" (change)="onImageUploaded($event)">
        <div *ngIf="url">
          <img class="ml-4" [src]="url">
        </div>
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-primary">Submit
      </button>
    </form>
  </div>
</div>
