<app-menu></app-menu>
<app-notification></app-notification>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMessage !== ''">
      <div class="col-md-3 alert alert-danger">{{errorMessage}}</div>
    </div>
    <div class="row">
      <div class="card col-md-3 ml-2" style="background: #fff7de; height: 80vh">
        <div class="row">
          <input type="search" class="form-control col-6 ml-4 mt-3 mb-3 mr-3" [(ngModel)]=username>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mt-4"
               viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          <button class="btn-primary ml-4 mt-3" id="addConvButton" (click)="convClick()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
          </button>
        </div>
        <div [hidden]="convClicked">
          Start conversation with:
          <div class="container" id="newConv">
            <div class="row">
              <input type="search" class="form-control col-7 ml-4 mt-3 mb-3 mr-3" [(ngModel)]=usernameNewConv>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-search mt-4"
                   viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </div>
            <div *ngFor="let user of users | friendsFilter: usernameNewConv; index as i">
              <div class="container mt-3" (click)="convClick(); removeDiv(user); loadMessages(user)"
                   id="userList{{user.username}}">
                <div *ngIf="usersImages[i]">
                  <img [src]="usersImages[i]" class="chatImg mr-2">
                </div>
                {{user.username}}
                <hr>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let chatPartner of chatPartners | friendsFilter: username; index as i">
          <div class="container mt-3" (click)="loadMessages(chatPartner)" id="chatPartner{{chatPartner.username}}">
            <img (load)="loadFirstMessage()"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="row">
              <div *ngIf="chatPartnersImages[i]">
                <img [src]="chatPartnersImages[i]" class="chatImg mr-1 ml-2">
              </div>
              <div class="col-5">{{chatPartner.username}}</div>
              <div class="col-3" (click)="loadDelete(chatPartner)">...</div>
            </div>
            <div hidden="true" id="deleteConvo{{chatPartner.username}}">
              <div class="row">
                <div class="col-6"></div>
                <a class="col-5" style="font-size: 1.2vh"
                   (click)="deleteConversation(chatPartner);$event.preventDefault()">Delete convo</a>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-5 ml-4" id="msgContainer">
        <div id="msgFrags">
          <div *ngIf="messages">
            <div *ngFor="let message of messages">
              <div *ngIf="message.senderID === credentials.id; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <div class="row">
                  <div class="col-7"></div>
                  <div class="container mt-3 col-5 mr-4" style="background: #fff1e0">
                    {{message.message}}
                  </div>
                </div>
              </ng-template>
              <ng-template #elseBlock>
                <div class="row">
                  <div class="mt-3 col-4 mr-4 ml-4" style="background: #fff7ed">
                    {{message.message}}
                  </div>
                  <div class="col-7"></div>
                </div>
              </ng-template>
            </div>
            <div class="mb-2"></div>
          </div>
        </div>
        <div class="mt-3" style="height: 20vh">
          <form (ngSubmit)="sendMessage()" #messageForm="ngForm">
            <div class="form-group row">
              <textarea [(ngModel)]="message"
                        class="form-control col-md-9 mr-4 ml-3"
                        rows="4"
                        id="message"
                        name="message"
                        required>
              </textarea>
              <button type="submit" [disabled]="!messageForm.form.valid"
                      class="btn btn-primary" id="sendButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

