#msgFrags{
  overflow-y: scroll;
  overflow-x: hidden;
  background: #ffd19c;
  height: 60vh;
  display:flex;
  flex-direction:column-reverse;
}

#newConv{
  overflow-y: scroll;
  overflow-x: hidden;
  background: #ffd19c;
  height: 20vh;
}

#sendButton{
  background: #5dc40b;
  height: 5vh;
  width: 5vh;
}

#addConvButton{
  height: 3vh;
  background: #5dc40b;
}

a:hover{
  cursor:pointer;
  background: red;
}

.chatImg{
  width: auto;
  height: 6vh;
}
