<app-menu></app-menu>
<app-notification></app-notification>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMsg !== ''">
      <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
    </div>
    <h3 class="card-title display-4 mb-4">Add new contact</h3>
    <form (ngSubmit)="onAdd()" #contactForm="ngForm">
      <div class="form-group row">
        <label class="control-label col-md-2">Contact name</label>
        <input type="text" [(ngModel)]="emContact.nameContact"
               class="form-control col-md-3 mr-2"
               id="nameContact"
               name="nameContact"
               placeholder="Enter contact name"
               required #nameContact="ngModel">
        <div [hidden]="!nameContact.pristine" class="col-md-3 alert alert-danger">Contact name is required</div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-2">Tel. nr.</label>
        <input type="text" [(ngModel)]="emContact.telNum"
               class="form-control col-md-3 mr-2"
               id="telNum"
               name="telNum"
               placeholder="Enter your tel nr."
               required #telNum="ngModel">
        <div [hidden]="!telNum.pristine" class="col-md-3 alert alert-danger">Tel nr. is required</div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-2">Priority</label>
        <select [(ngModel)]="emContact.priority"
                name="priority"
                class="form-control col-1">
          <option *ngFor="let number of numbers" [ngValue]="number">
            {{number}}
          </option>
        </select>
      </div>

      <button type="submit" [disabled]="!contactForm.form.valid"
              class="btn btn-primary">Submit
      </button>
    </form>
  </div>
</div>
