<app-menu></app-menu>
<app-notification></app-notification>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMessage !== ''">
      <div class="col-md-3 alert alert-danger">{{errorMessage}}</div>
    </div>
    <div *ngIf="isDataLoaded">
      <div class="row">
        <div *ngIf="image">
          <img class="card-img-top ml-3" [src]=image alt="Profile picture">
        </div>
        <h2 class="card-title display-4 ml-3 mt-3">{{user.username}}'s profile</h2>
      </div>
      <hr>
      <form (ngSubmit)="onUpdate(); onEditClick()" #userForm="ngForm">
        <div class="form-group row" [hidden]="onEdit">
          <label class="control-label col-md-2">New profile pic</label>
          <input type="file" class="form-control col-md-4" (change)="onImageUploaded($event)">
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2">Tel. nr.</label>
          <input type="text" [(ngModel)]="user.telNum"
                 class="form-control col-md-3 mr-2"
                 id="telNum"
                 name="telNum"
                 required #telNum="ngModel"
                 [disabled]=onEdit>
          <div [hidden]="telNum.valid || onEdit" class="col-md-3 alert alert-danger">Tel nr. is required</div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2">Birthdate</label>
          <input type="date" [ngModel]="user.birthDate | date:'yyyy-MM-dd'"
                 [(ngModel)]="user.birthDate"
                 class="form-control col-md-3 mr-2"
                 id="birthdate"
                 name="birthdate"
                 required #birthdate="ngModel"
                 [disabled]=onEdit>
          <div [hidden]="birthdate.valid || onEdit" class="col-md-3 alert alert-danger">Birthdate is required</div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">
              <label class="control-label col-md-4">Height</label>
              <input type="number" [(ngModel)]="user.height"
                     class="form-control col-md-4 mr-2"
                     id="height"
                     name="height"
                     [disabled]=onEdit>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="control-label col-md-4">Weight</label>
              <input type="number" [(ngModel)]="user.weight"
                     class="form-control col-md-4 mr-2"
                     id="weight"
                     name="weight"
                     [disabled]=onEdit>
            </div>
          </div>
        </div>
        <div class="form-group row" [hidden]="onEdit">
          <label class="control-label col-md-2">Current password</label>
          <input type="password" [(ngModel)]="currentPassw"
                 class="form-control col-md-3 mr-2"
                 id="passw"
                 name="passw"
                 required #passw="ngModel"
                 [disabled]=onEdit>
          <div [hidden]="passw.valid || onEdit" class="col-md-3 alert alert-danger">Confirm your current password!</div>
        </div>
        <button type="submit" [disabled]="!userForm.form.valid" [hidden]="onEdit" class="btn btn-primary mb-3">Submit
        </button>
      </form>
      <div class="row ml-1">
        <button class="btn btn-primary" [hidden]="!onEdit" (click)="onEditClick()">Modify data</button>
        <button class="btn btn-primary" (click)="onDelete(user)">Delete user</button>
      </div>
      <div *ngIf="credentials.id === user.userID">
        <app-geolocation></app-geolocation>
        <hr>
        <h3 class="card-subtitle text-center mb-4 mt-4">Details</h3>
        <div class="btn-group col-12" role="group">
          <button type="button" id="allergyButton" class="btn btn-secondary" autofocus (click)="onAllergyClick()">
            Allergies
          </button>
          <button type="button" id="sicknessButton" class="btn btn-secondary" (click)="onSicknessClick()">Sicknesses
          </button>
        </div>
        <div *ngIf="allergyShow===true; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <app-allergy-list></app-allergy-list>
        </ng-template>
        <ng-template #elseBlock>
          <app-sickness-list></app-sickness-list>
        </ng-template>
      </div>
    </div>
  </div>
</div>
