<div class="card">
  <div class="card-body">
    <div *ngIf="errorMsg !== ''">
      <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
    </div>
    <form (ngSubmit)="onAdd()" #allergyForm="ngForm">
      <div class="form-group row">
        <input type="text" [(ngModel)]="allergy.allergyName"
               class="form-control col-md-3 mr-4 ml-4"
               id="allergyName"
               name="allergyName"
               placeholder="Enter allergy name"
               required>
        <label class="control-label ml-3">Severeness: </label>
        <select [(ngModel)]="allergy.severeness"
                name="severeness"
                class="form-control col-1 ml-4">
          <option *ngFor="let severeness of severenesses" [ngValue]="severeness">
            {{severeness}}
          </option>
        </select>
      </div>
      <div class="form-group row">
        <textarea [(ngModel)]="allergy.comments"
               class="form-control col-md-5 ml-4"
               id="comments"
               name="comments"
               placeholder="Useful comments in case of emergency">
        </textarea>
      </div>

      <button type="submit" [disabled]="!allergyForm.form.valid"
              class="btn btn-primary">Submit
      </button>
    </form>
  </div>
</div>
