<div class="container">
  <div style="text-align:center; background: yellow" [hidden]="hiddenAlert">
    <div *ngIf="errorMsg !== ''">
      <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
    </div>

    <h1 style="font-size: 4em;">

      Alert : <span style="color: red;">{{ notification.emRequestType }}</span><br>
      <div class="mb-4">
        Are you okay?
      </div>
      <button class="btn btn-primary btn-lg" style="padding: 5vh 10vh;" (click)="alertAccept(notification.emRequestID)">
        Yes
      </button>

    </h1>

  </div>
</div>
