<app-menu></app-menu>
<app-notification></app-notification>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMessage !== ''">
      <div class="col-md-3 alert alert-danger">{{errorMessage}}</div>
    </div>
    <div *ngIf="requests.length > 0">
      <h2 class="mb-3 display-4">Requests</h2>
      <div class="card-columns">
        <div *ngFor="let request of requests; let i = index">
          <div class="card">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-md-3"></div>
                <div *ngIf="imagesOfRequests[i]">
                  <img class="card-img-top" [src]=imagesOfRequests[i] alt="Profile picture">
                </div>
              </div>
              <h5 class="card-title">{{ request.username }}</h5>
              <hr>
              <p class="card-text">Birthdate: {{request.birthDate | date: 'shortDate'}}</p>
              <a class="btn btn-danger" style="color:white" (click)="acceptFriend(request)">Accept</a>
              <a class="btn btn-danger" style="color:white" (click)="refuseFriend(request)">Refuse</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="mb-3 display-4">My friends</h2>
    <div class="row">
      <label class="control-label col-md-1">Search:</label>
      <input type="search" class="form-control col-2 mb-3 mr-3" [(ngModel)]=username>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mt-2"
           viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </div>

    <form (ngSubmit)="onAdd()" #userForm="ngForm">
      <div class="form-group row">
        <label class="control-label ml-3">New friend: </label>
        <input type="text" [(ngModel)]="usernameAdd"
               class="form-control col-md-2 mr-4 ml-4"
               id="userName"
               name="userName"
               placeholder="Enter username"
               required>
        <button type="submit" [disabled]="!userForm.form.valid"
                class="btn btn-primary" style="background:green">+
        </button>
      </div>
    </form>
    <div class="card-columns">
      <div *ngFor="let friend of friends  | friendsFilter: username; let i = index">
        <div class="card">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-3"></div>
              <div *ngIf="imagesOfFriends[i]">
                <img class="card-img-top" [src]=imagesOfFriends[i] alt="Profile picture">
              </div>
            </div>
            <div class="row">
              <h5 class="card-title ml-2">{{ friend.username }}</h5>
              <div class="col-7"></div>
              <button class="btn btn-primary" (click)="onDelete(friend)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
              </button>
            </div>
            <hr>
            <p class="card-text">Birthdate: {{friend.birthDate | date: 'shortDate'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
