<app-menu></app-menu>
<app-notification></app-notification>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMsg !== ''">
      <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
    </div>
    <div class="row">
      <h2 class="card-title col-6 display-4">Emergency requests</h2>
    </div>
    <div class="row">
      <div class="ml-4 mt-3 card-subtitle">Need a new emergency? Add it now!</div>
    </div>
    <a class="btn btn-primary mb-3 mt-2 ml-2" routerLink="/addEmergencyRequest" style="color: white">
      New emergency »
    </a>
    <hr>
    <div class="row">
      <label class="control-label col-md-1">Type:</label>
      <input type="search" class="form-control col-2 mb-3 mr-3" [(ngModel)]=emergencyType>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mt-2" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </div>
    <div class="card-columns">
      <div *ngFor="let emRequest of emRequests | emergencyRequestFilter: emergencyType">
        <div class="card">
          <img class="card-img-top" src="{{images.get(emRequest.emType)}}" height="300vh" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ emRequest.emType }}</h5>
            <hr>
            <p class="card-text"><b>Start date:</b> {{emRequest.startDate | date: 'short'}}</p>
            <p class="card-text"><b>End date:</b> {{emRequest.endDate | date: 'short'}}</p>
            <p class="card-text"><b>Alert interval:</b> {{emRequest.timeInt}} minutes</p>
            <div class="row">
              <div class="col-10"></div>
              <button class="btn btn-primary" (click)="onDelete(emRequest)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
